/node_modules
/ghost*/screenshots
/VRT_backstop/backstop_data/bitmaps*/
/VRT_backstop/backstop_data/html_report/
/VRT_backstop/reference.json
/VRT_backstop/testConfig.json
/ghost3.42.5/screenshots/
/screenshots
