<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Reporte</title>
</head>

<body>
    <h1 class="text-center">
        Reporte VRT
    </h1>
    <main class="container">
        <% if (escenarios) { %>
            <% for( let escenario of escenarios) { %>
                <div class="container">
                    <h2 class="text-center"><% escenario.name %> </h2>
                    <% for( let step of escenario.pasos) {%>
                        <div class="row">
                            <% step.number %>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="" alt="">
                            </div>
                            <div class="col">
                                <img src="" alt="">
                            </div>
                            <div class="col">
                                <img src="" alt="">
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>

        <% } else { %>
            <h2 class="text-center">
                No Existen Escenarios para mostrar
            </h2>
        <% } %>
                    
    </main>
</body>

</html>